In [4]:
#Q1 Discuss string slicing and provide example
# String slicing allow you to extract a portion of string using the keywords
#in string the starting index is inclusive the stop index is exclusive and step is interval between characters
string ="Priyanka Khairmode"
sub_string=string[0:3]# extract substring from index o to 3(excluding 3)
print (sub_string)

Pri

In [6]:
string="data scientist"
sub_string=string[3:]#extract substring from index 3(inclusive)till the end
print(sub_string)

a scientist

In [8]:
string ="Priyanka Khairmode"
sub_string=string[-3:]#extract last 3 characters from index -3 till end
print(sub_string)

ode

In [9]:
string="data scientist"
sub_string=string[0:14:2]#extract every 2nd character from index 0:14, space is ignored in string
print(sub_string)

dt cets

In [11]:
string="data scientist"
reverse_string=string[::-1]
print(reverse_string)

tsitneics atad

In [17]:
#Q2 Explain the key features of lists in Python
#list are versatile and widely used data structures that allow to store an ordered collection of items
# list maintain the order of element as they are added. each element has a specific index, starrting from 0 which allow you to access the element in the order
#list can hold variety of data types and have several key features that make them uasful for many programing tasks
#list maintain the order of items as the added
# lists are mutable
# python list are indexed from 0 , the first element is accessed using index 0 and so on

1

In [22]:
#Q3 Describe how to access, modify, and delete elements in a list with examples
#access element in list
list=[1,2,3,4,5]
print(list[0])



#modify element in list
list=[1,2,3,4,5]
list[1]=10
print(list)

1
[1, 10, 3, 4, 5]

In [21]:
#delete element in list
list=[1,2,3,4,5]
del(list[0])
print(list)

[2, 3, 4, 5]

In [25]:
#Q4 Compare and contrast tuples and lists with examples
# List are mutable, Tuples are immutable
#list(mutable)
list=[1,2,3,4,5]
list[1]=3
print(list)

[1, 3, 3, 4, 5]

In [26]:
#tuple(immutable)
tuple=(1,2,3,4,5)
tuple[1]=3
print(tuple)

TypeError: 'tuple' object does not support item assignment

In [29]:
#Syntax= List represented by [] tuple representted by()
#lists are used when you need to modify, append or delete element, tuple are used when you need a immutable sequence of items


#Q5 Describe the key features of sets and provide examples of their use
#sets are unordered. the element do not maintain any specific order, when you iterate over a set the element may appear in ant random order
set={1,2,3,4,5}
item_in_set=print(set)
print(set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [35]:
# set store unique element, if you try to duplicate the lement of the set the are ignored ensuring that no two element in a set are the same
#though sets are immutable you can add and remove element of the set


#Q6Discuss the use cases of tuples and sets in Python programming
coordinates=(30,-50)# tuples are used when u want totstore data that should not change after it has been assigned
def get_info():return("Priyanka","40","engineer")
name,age,profession=get_info()
#since tuples are immutable and hashablethey can be used as keys in dictionaries unlike list which are mutable and can not be used as dictionary keys
#since tuples are immutable they are generally more memory efficient and faster to process than list
#large_tuple=(1,3,5,7,9)*1000
# sets are highly suited for mathematical operations like union, intersection, difference, these operation allow easy comparison and manupulation of multiple sets
set_1={1,2,3,4,5}
set_2={10,1,2,3,30,40,50}
union_set= set_1.union(set_2)
print(union_set)

{1, 2, 3, 4, 5, 40, 10, 50, 30}

In [ ]:
#Q7Describe how to add, modify, and delete items in a dictionary with example
#dictionaries are unordered collection of key VALUE PAIRS  where keys are unique and values can be of any type